<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>jdbcURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/staffmember</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcUsername</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcPassword</param-name>
        <param-value/>
    </context-param>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showStaff</servlet-name>
        <servlet-class>showStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>makeReservation</servlet-name>
        <servlet-class>makeReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>canelTransaction</servlet-name>
        <servlet-class>canelReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelReservation</servlet-name>
        <servlet-class>cancelReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notification</servlet-name>
        <servlet-class>notification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>messagetostaff</servlet-name>
        <servlet-class>messagetostaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registeration</servlet-name>
        <servlet-class>registeration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingServlet</servlet-name>
        <servlet-class>EmailSendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showStaff</servlet-name>
        <url-pattern>/showStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>makeReservation</servlet-name>
        <url-pattern>/makeReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>canelTransaction</servlet-name>
        <url-pattern>/canelTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelReservation</servlet-name>
        <url-pattern>/cancelReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notification</servlet-name>
        <url-pattern>/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>messagetostaff</servlet-name>
        <url-pattern>/messagetostaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registeration</servlet-name>
        <url-pattern>/registeration</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>tls</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>mohamedmagdysoffar@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>yhfolfsjapxzjgks</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>EmailSendingServlet</servlet-name>
        <url-pattern>/EmailSendingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/ControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
